.admin-title-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
.admin-title__text{
    font-family: Inter;
    color: #fff;
    font-weight: 900;
    margin-bottom: 0px !important;
}


.admin-title__icon{
    width: 35px;
    height: 35px;
}