.main-content {
  background-color: #101010;
  width: 85%;
  display: flex;
  justify-content: center;
  float: right;
  flex-direction: column;
  align-items: center;
}

.promos-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.react-tabs {
  width: 80%;
}

.admin-header {
  width: 100%;
  height: 100px;
}

.pizza-admin-grid {
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 70px;
  grid-template-columns: repeat(3, 33.33%);
}

.admin-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  list-style: none;
}

.admin-menu__tab {
  width: 125px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.react-tabs__tab--selected .admin-menu__text {
  /* Estilos para el span dentro del tab seleccionado */
  color: #ffc700;
}

.admin-menu__text {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.admin-menu_btnAdd {
  width: 50px;
  height: 50px;
  background-color: #0e35ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-menu_icon {
  height: 35px;
  width: 35px;
  color: #ffffff;
}

.admin-menu_btnAdd:hover {
  background-color: #0721a1;
}

.admin-header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 141px;
}

.backBtn {
  color: #ffffff;
}

.backbtn__icon {
  width: 45px;
  height: 45px;
}

.backbtn__icon:hover {
  color: #d1b5b5;
  width: 45px;
  height: 45px;
}

.admin-btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}

.form-box {
  background-color: #0e0e0e;
  height: 800px;
  width: 85%;
  border-radius: 35px;
  margin-bottom: 1.7%;
}

.form-container {
  padding: 50px;
}

.form-container__body {
  display: flex;
}

.form-container__left {
  flex: 1;
}

.form-container__right {
  flex: 1;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container__label {
  margin-bottom: 30px;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.input-container__input {
  width: 500px;
  height: 50px;
  border-radius: 30px;
  background-color: #2c2828;
  border: none;
  color: #665959;
  padding-left: 20px;
}

.input-container__file {
  display: grid;
  margin-top: 20px;
  place-items: center;
  position: relative;
  height: 300px;
  width: 300px;
  background: #fbfbff;
  border-radius: 20px;
}

#file_up {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
}

#file_up::before{
  content: url("https://raw.githubusercontent.com/mdhossin/mern-quickshop-website/827735457dc2c6ebd5a5feb39f11656abff4e092/admin/server/client/src/assets/images/upload.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2c2828;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display:  flex;
  justify-content: center;
  align-items: center;
}

textarea#desc_promo {
  height: 171px;
  resize: none;
}

.input-container__input:focus-visible {
  border: 3px solid #1c1c1c;
  outline: none;
}

.form-container__footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.form-container__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: #0E35FF;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 25px;
}

.form-container__btn:hover{
  background-color: #0721a1;
}